package content

templ Community() {
    <h1>Sober Friends</h1>

    <div>
        <blockquote>
            <p>If you hang out at a barbershop, sooner or later you're going to get a haircut.</p>
        </blockquote>
        <p>—Somebody, <cite>Somewhere</cite></p>
    </div>
}
