package content

import "github.com/jonesrussell/sober/ui/components"

templ Home() {
	<h1 class="text-2xl font-bold">There's only one thing you have to change...<span class="text-3xl font-bold mt-4">Everything.</span></h1>
	<div class="flex justify-center items-center w-full h-full">
		@components.RoadmapSober()
	</div>
	<div>
		@components.Drawer()
	</div>
}
