package content

import "github.com/jonesrussell/sober/components"

templ Home() {
	<h1>There's only one thing you have to change, everything.</h1>
	<div class="flex justify-center items-center w-full h-full">
		@components.RoadmapSober()
	</div>
	<div>
		@components.Drawer()
	</div>
}
