package components

templ Header(base string, title string) {
    <header>
        <div id="logo">Sobriety Roadmap</div>
        <nav>
            <a href={ templ.URL(base + "/") }>Home</a> |
            <a href={ templ.URL(base + "/community") }>Community</a>
        </nav>
    </header>
}
