package components

templ Header(title string) {
    <header>
        <div>Sobriety Roadmap</div>
        <nav>
            <a href="/">Home</a> |
            <a href="/community">Community</a>
        </nav>
    </header>
}
